<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectPeriod1</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/a862706d02.js" crossorigin="anonymous"></script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>



    <link rel="stylesheet" href="~/css/site.css" />




</head>
<body>

    <header>
        <div class="p-4 alert-light alert-server container" role="alert">
            <div class="row">
                <div class="w-25">
                    <img class="" src="~/img/logotgg.png" />
                </div>
                <div class="w-75 text-right">
                    <h1><strong>No Desk</strong></h1>
                    <h4>Licensed to The Garden Group.</h4>
                </div>
            </div>

            @{
                if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <div class="p-0 m-0 text-center row">
                                    <div class="w-100">
                                        <small>
                                            Welkom <strong>@User.Identity.Name</strong>!
                                            <a asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i></a>
                                        </small>
                                    </div>
                    </div>
                    }
                }

                </div>
        <nav class="
          navbar navbar-expand-sm navbar-toggleable-sm navbar-light
          bg-white
          border-bottom
          box-shadow
          mb-3
        ">
            <div class="container">
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="
              navbar-collapse
              collapse
              d-sm-inline-flex
              flex-sm-row-reverse
            ">
                    <ul class="navbar-nav flex-grow-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark"
                                           asp-area=""
                                           asp-controller="Ticket"
                                           asp-action="Index">Home</a>
                                    </li>
                                </div>
                                <div class="col-sm">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark"
                                           asp-area=""
                                           asp-controller="Ticket"
                                           asp-action="List">Incident Management</a>
                                    </li>
                                </div>
                                <div class="col-sm">
                                    <li class="nav-item">
                                        <a class="nav-link text-dark"
                                           asp-area=""
                                           asp-controller="User"
                                           asp-action="Index">User Management</a>
                                    </li>
                                </div>
                            </div>
                        </div>

                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - The Garden Group - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
