@model ProjectPeriod1.Models.Ticket

<form asp-action="Edit">
    <fieldset class="idea-form">
        @Html.HiddenFor(m => m.Created)
        @Html.LabelFor(m => m.Subject)
        @Html.TextAreaFor(m => m.Subject)
        <input type="submit" name="Update" />
    </fieldset>
</form>